* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
body {
    background: #ffffff23; 
    margin: 0;
    padding: 0;
}
.note {
    display: none;
}
.main_block {
    background-color: #FFF;
    display: flex;
}
/* Left side */
.left {
    background-image: url(./pictures/background.png);
    background-position: center center ;
     /* flex-grow,flex-shring,flex basis - to center */
    flex: 0 1 500px;
    padding: 12px;
    min-width: 500px;
}
.frame {
    background-color: rgba(0, 0, 0, 0.15);
    height: 744px; 
    padding: 24px;
}
.text_box {
    height: 223px;  
    padding: 36px;
    overflow: hidden;
}
.intro_text {
    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 26px; 
    font-weight: normal;
}
/* Right side */
.right {
    background-color: #FFF;
    flex: 0 1 100%;  /* flex-grow,flex-shring,flex basis - to center */
    min-height: 768px ;
    overflow: hidden;
}
.centered_form {
    height: 768px;
    max-width: 863px;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* Intro text */
.intro {
    display: inline-flex;
    flex-direction: row;
    font-family: 'Open Sans', sans-serif;
    color: #6B7280;
    font-size: 16px;
    margin-bottom: 15px;
}
.intro span {
    color: #1F2937;
    font-size: 18px;
    font-weight: bold;
}
/* SingIn buttons */
.google {
    width: 281px;
    min-height: 49px;
    border: 1px solid #E5E7EB;
    border-radius: 4px;
    background:#4285F4;  
    cursor: pointer;
    margin-top: 12px;
    margin-bottom: 12px;
    text-align: center;
    padding-left: 40px;
    color: #FFF; 
    font-size: 16px;
    font-weight: 700;
}
.google_icon {
    position: absolute;
    padding: 15px 2px; 
    z-index: 2;
    cursor: pointer;
}
.facebook {
    min-width: 47px;
    min-height: 48px;
    border: 1px solid #E5E7EB;
    border-radius: 4px;
    background:#ECF2FC;
    text-align: center;
    color: #FFF; 
    font-size: 16px;
    font-weight: 700;
    margin-left: 6px;
}
.facebook_icon {
    position: absolute;
    padding: 3px 8px;  
    cursor: pointer;
}
.google_button,
.facebook_button {
    display: inline-block;
}
.sing_button .google_button:hover {
    transform: scale(1.02);
    transition: transform 0.3s ease-in-out;
    opacity: 0.8;
}
.sing_button .facebook_button:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
    opacity: 0.8;
}
/* or */
.line {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 9px;
    margin-bottom: 9px;
}
.line::before,
.line::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid #E5E7EB;
}
.line span {
    color: #E5E7EB;
    font-size: 12px;
    margin: 0 10px;
}
/* @ */
.input_field {
    width: 340px;
    height: 48px;
    text-align: center;
    border-radius: 4px;
    border: 1px solid #E5E7EB;
    background: #FFF;   
    font-size: 14px;
    cursor: pointer;
}
.a_icon {
    position: absolute;
    padding: 15px 10px 8px;
    max-width: 40px; 
}
::placeholder {
    color: #D1D5DB;
}
 /* Password */
 .password {
    max-width: 340px;
    color: #6B7280;
    font-family: Open Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
}
a {
    text-decoration: none;
    color: #6D58BA;
    font-family: Open Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px; 
}
.password p :hover {
    color: #724DFF;
    font-size: 14px;
}
/* Continue */
.continue {
    width: 340px;
    height: 49px;
    text-align: center;
    color: #FFF;
    font-size: 16px;
    font-weight: 600;
    border: none;
    background-color: #724DFF;
    border-radius: 4px;
    line-height: 24px;     
    cursor: pointer;
}
.continue:hover {
    transform: scale(1.0);
    transition: transform 0.3s ease-in-out;
    opacity: 0.8;
 }
/* Questions */
.questions {
    color:#6B7280;
    font-family: Open Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 26px; 
}
.questions p :hover {
    color: #724DFF;
    font-size: 14px;
}
/* Responsive */
@media screen and (max-width: 1024px) {
    .left {
        min-width: auto;  
    }
}
@media screen and (max-width: 785px) {
    .main_block{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .right {
        padding: 20px;
    }
    .left  {
        width: 100%;
        max-height: 139px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }
    .frame {
        width: 100%;
        max-height: 115px;
    }
    .intro_text {
        display: none;
    }
    .text_box {
        margin-top: 10px;
        padding: 0;
        display: flex;
        align-items: flex-start;
        justify-content: center;
    }
    .centered_form {
        height: 30rem ;
        padding-left: 20px;
        padding-right: 20px;
    }
}
@media screen and (max-width: 380px) {
    .text_box img{
        width: 200px;
    }
    .intro {
        margin-left: 50px;
        overflow: hidden !important;
    }
    .google {
        width: 200px;
        margin-left: 50px;
        font-size: 13px;
    }
    .google_icon {
        padding: 15px 55px; 
        }        
    .input_field {
        width: 270px;
        margin-left: 50px;
        font-size: 13px;
    }
    .a_icon {
        position: absolute;
        padding: 15px 10px 8px;
        max-width: 40px; 
        margin-left: 50px;
    }
    .input_field::placeholder {
        padding-left: 20px;
    }
    .password {
        width: 200px;
        margin-left: 50px;
        font-size: 13px;
    }
    .continue {
        width: 270px;
        margin-left: 50px;
        font-size: 13px;
    }
    .questions {
        width: 150px;
        margin-left: 50px;
        font-size: 13px;
    }
    .line {
        width: 80%;
        margin-left: 50px;
    }
    form{
        margin-left: -35px;
    }
}
@media screen and (max-width: 305px) {
    form {
        display: none;
    }
    .note {
        color: #595d65;
        display: block;
        overflow: hidden;
        margin-top: -80px;
    }
    .text_box img{
        width: 160px;
    }
}
@media screen and (max-width: 237px) {
    .text_box img{
        width: 120px;
    }
}
@media screen and (max-width: 225px) {
    .left {
        display: none;
    }
    .note {
        margin-top: 50px;
    }
}